{% extends 'master.twig' %}

{% block content %}

<!-- Main -->
    <section id="main" class="wrapper style1">
        <header class="major">
            <h2>Left Sidebar</h2>
            <p>Tempus adipiscing commodo ut aliquam blandit</p>
        </header>
        <div class="container">
            <div class="row">
                <div class="4u">
                    <section>
                        {% setcontent lastNews = 'news/latest/1' %}
                        {% for oneNews in lastNews %}
                            <h3>{{ oneNews.title }}</h3>
                            <p>{{ oneNews.text|excerpt(220) }}</p>
                            <ul class="actions">
                                <li><a href="{{ oneNews.link }}" class="button alt">Learn More</a></li>
                            </ul>
                        {% endfor %}
                    </section>
                    <hr />
                    <section>
                        {% setcontent news = 'news/latest/5' where { status: 'published' } orderby 'datepublish' limit 9 %}
                        <h3>Ante sed commodo</h3>
                        <ul class="alt">
                            {% for item in news %}
                                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
                <div class="8u skel-cell-important">
                    <section>
                        <h2>{{ record.title }}</h2>
                        {% if record.image is not empty %}
                            <a href="#" class="image fit"><img src="{{ record.image|image }}" alt="" /></a>
                        {% endif %}
                        <p>{{ record.body }}</p>
                    </section>
                </div>
            </div>
            <hr class="major" />
            <div class="row">
                {% setcontent entries = 'entries/latest/2' %}
                {% for entry in entries %}
                    <div class="6u">
                        <section class="special">
                            {% if entry.image is not empty %}
                                <a href="#" class="image fit"><img src="{{ entry.image|image }}" alt="" /></a>
                            {% endif %}
                            <h3>{{ entry.title }}</h3>
                            <p>{{ entry.teaser|excerpt(220) }}</p>
                            <ul class="actions">
                                <li><a href="{{ entry.link }}" class="button alt">Learn More</a></li>
                            </ul>
                        </section>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}